<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300i,400,400i&display=swap" rel="stylesheet">
    <script src="~/Scripts/Controls/interact.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Scripts/Controls/NumberSlider/Numberslider.css" rel="stylesheet" />

    <link href="~/Content/icofont.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/appstyle")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")



    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/app/Global.js"></script>
    <link href="~/Content/gridstack.css" rel="stylesheet" />

    @*<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>*@

    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/d3.js"></script>
    @*<script src="~/Scripts/WebChat.js"></script>*@
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/Controls/Control-vue.js"></script>



    <link href="~/Content/NT-Node.css" rel="stylesheet" />
    <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link href="~/Content/AppStyle/FontAwesome.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>

    <script src="~/Scripts/NT/NT.js"></script>
    <script src="~/Scripts/NT/NT-NodeEdge.js"></script>
    <script src="~/Scripts/NT/NT-Node.js"></script>
    <script src="~/Scripts/NT/ComponentModal.js"></script>
    <script src="~/Scripts/NT/NT-context.js"></script>

    <script src="~/Scripts/Jcookie.js"></script>
    <script src="~/Scripts/Controls/Jpopup.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    @*<script src="~/Scripts/vue/vue.esm.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

    <script src="~/Scripts/vue/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.1/src/httpVueLoader.min.js"></script>
    <script src="~/Scripts/requires.js"></script>



    @*<script src="~/Scripts/ace/ace.js"></script>*@
    <style>
        .feedback {
            background-color: #fff;
            color: #000000;
            border-left: 5px solid #227f85;
        }

        .hidden {
            width: 80%;
            z-index: 14;
            position: absolute;
            left: -1800px;
            background: #fff;
            color: #000;
            float: left;
            border-right: 0px solid #808080;
            height: 230px;
            box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.10);
        }

        .screen {
            position: absolute;
            width: 100%;
            z-index: 1;
            height: 500px;
            background-color: rgba(128, 128, 128, 0.31);
        }

        .hiddenhome {
            width: 20% !important;
            left: -1000px;
        }

        .bar {
            background-color: #444;
            color: #fff;
            box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.20);
        }

        .elementItem {
            float: left;
            width: 20%;
            margin: 15px 15px;
            text-align: center;
            padding: 5px;
        }

            .elementItem:hover {
                color: #ff0000;
                cursor: pointer;
                border-bottom: 2px solid #808080;
            }
    </style>
    <style>
        .grid-stack-item-content {
            background-color: #fff;
            color: #5b5959;
            border: 1px solid rgba(174, 166, 166, 0.40);
             cursor: move; /* fallback if grab cursor is unsupported */
            cursor: grab;
            /*cursor: -moz-grab;
            cursor: -webkit-grab;*/
        }
            .grid-stack-item-content:hover {
                background-color: #444;
                color: #fff;
            
            }
             
        .navbar {
            list-style: none;
            margin-bottom: 0px;
            padding-top: 0px;
            font-size: 17px;
            cursor: pointer;
            float: left;
            padding: 0px;
        }

            .navbar > .item {
                color: rgba(174, 166, 166, 0.90);
                border-left: 1px solid #5b5959;
                border-right: 1px solid #5b5959;
                padding: 5px 8px !important;
            }

                .navbar > .item:hover {
                    color: #fff;
                }
    </style>
    <script>
        $(document).ready(function () {

            //getComponent = function () {
            //    $.ajax('/MyApp/' + appid + '/Components',
            //        {
            //            type: "GET",
            //            dataType: 'jsonp', // type of response data
            //            data: { },
            //            // timeout milliseconds
            //            success: function (data, status, xhr) {   // success callback function

            //                $.each(data, function (i, v) {
            //                    v.url = "/App/" + appid + "/Component/" + v.ElementID;
            //                })
            //                renderComponent(data);
            //            },
            //            error: function (jqXhr, textStatus, errorMessage) { // error callback
            //                alert(errorMessage);
            //            }
            //        });
            //}
        })

    </script>
</head>
<body  style="padding-top:0px; margin-top:0px;">          
        @RenderBody()
        <div id="tzContainer">
            <div>
                <toaster :toas="tos" :id="id" ref="foo" :position="position" :type="toasterType">

                </toaster>
            </div>
        </div>
        <div id="tzFeedback">
            <div>
                <toaster :toas="tos" :id="id" ref="foo" :position="position" :type="toasterType">

                </toaster>
            </div>
        </div>
        @*<div id="slider" class="hidden">
            <div class="row">
                <div class="col-md-3" id="compContainer"></div>
                <div class="col-md-3" id="formContainer"></div>
                <div class="col-md-3" id="pageContainer"></div>
            </div>
        </div>*@
        <div id="homesd" class="hidden hiddenhome">
            <div class="row">
                <div class="col-md-12" id="appContainer"></div>
            </div>
        </div>
        <div class="screen hidden" ></div>
    
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        require(["/vue/Controls/toast.js"], function (roster) {
            Window.toz = new Vue({
                components: {
                    "toaster": roster
                },
                data: function () {
                    return {
                        tos: [],
                        id: "tosz",
                        "position": "right top",
                        toasterType: "linear",
                    }
                }
            }).$mount('#tzContainer');

            Window.feedback = new Vue({
                components: {
                    "toaster": roster
                }, data: function () {
                    return {
                        tos: [],
                        id: "tozfeedback",
                        "position": "right bottom",
                        toasterType: "linear",
                    }
                }
            }).$mount('#tzFeedback');

        });
    });
</script>