
@{
    ViewBag.Title = "Sign In";
}
@model Tz.BackApp.Models.LoginView


<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<style>

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .form-signin-heading, .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

    .btn-primary-color {
        color: #fff;
        background-color: #d9534f;
        border-color: #dc3545;
    }

    .btn-primary:hover {
        color: #fff;
    }

    .form-signin input[type="text"] {
        margin-bottom: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .account-wall {
        margin-top: 20px;
        padding: 40px 0px 20px 0px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .login-title {
        color: #555;
        font-size: 28px;
        font-weight: 400;
        display: block;
    }

    .profile-img {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .need-help {
        margin-top: 10px;
    }

    .new-account {
        display: block;
        margin-top: 10px;
    }
</style>
@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">

            </div>
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Sign in to continue</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                         alt="">
                    <form class="form-signin">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" placeholder="Email" required autofocus>*@
                                </div>
                                <div class="col-md-12" style="margin-top:10px;">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Password", Type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    @*<input type="password" class="form-control" placeholder="Password" required>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="margin-top:10px;">
                                    <button class="btn btn-lg btn-primary-color btn-block" type="submit">
                                        Sign in
                                    </button>
                                </div>

                            </div>

                            <div class="row" style="margin:15px 0px 15px 0px">
                                <div class="col-md-12">
                                    <label class="checkbox pull-left">
                                        <input type="checkbox" value="remember-me">
                                        Remember me
                                    </label>
                                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                                </div>

                            </div>
                        </div>





                    </form>
                </div>
                <a   class="pull-right text-center new-account" href="#" onclick='window.location = "@Url.Action("Registration", "Authentication")";' >Create Account</a>
                
                
                    @*<a href="#" class="text-center new-account">Create an account </a>*@
            </div>
        </div>
    </div>

}
